version: '3'
services:
  web:
    build: .
    container_name: pixelhubx
    restart: always
    ports:
      - "3003:3003"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      - DATABASE_URL=file:/app/data/prod.db
